<!-- translate-result.ejs -->
<div>
<% for(var i = 0; i < result.length; i ++) { %>
  <% if (result[i].error || result[i].body) { %>
    <%- include('each-result', { result: result[i] }) %>
  <% }  %>
<% } %>
</div>