<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>hybird-translator</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/theme.css">
  </head>
  <body>
    <div class="container">
      <h1>Translator</h1>
      <!-- search bar -->
      <form>
        <div class="row">
          <div class="col-lg-5">
            <div class="input-group">
              <div class="input-group-btn">
                <button class="btn btn-primary" type="submit" id="search-btn"><span class="glyphicon glyphicon-search"></span></button>
              </div>
              <input class="form-control" type="text" id="search-text">
              <div class="input-group-btn">
                <button class="btn btn-default" type="button" data-toggle="modal" data-target=".setting-modal"><span class="glyphicon glyphicon-cog"></span></button>
              </div>
            </div>
            </div><!-- /.col-lg-5 -->
          </div>
        </form>
        <!-- /form -->
        <div id="translate-result" style="margin-top: 20px"></div>
        <!-- settings modal -->
        <div class="modal fade setting-modal" tabindex="-1" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">&times;</button>
                <h4 class="modal-title"><span class="glyphicon glyphicon-cog"></span> Settings</h4>
              </div>
              <div class="modal-body">
                <p>Under construction...</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script src="js/main.js"></script>
      <script src="js/bootstrap.min.js"></script>
    </body>
  </html>
